.hero, .hero-about {
  position: relative;
  padding: 10rem 7% 10rem;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.hero::after, .hero-about::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(245, 245, 220, 1) 8%,
    rgb(245, 245, 220, 0) 50%
  );
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img-kopma/bg-home.jpeg');
  background-size: cover;
  background-position: center;
  z-index: 0;
  background-color: rgba(0, 0, 0, 1);
}

.hero-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img-kopma/bg-about.jpeg');
  background-size: cover;
  background-position: center;
  z-index: 0;
  background-color: rgba(0, 0, 0, 1);
}

.hero .content,
.hero-about .content {
  position: relative; 
  z-index: 1;
  /* background-color: rgba(1, 1, 3, 0.3); */
}

.hero .content h1,
.hero-about .content h1 {
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-shadow: 1rem 1rem 3rem rgba(1, 1, 3, 0.5);;
}

.hero .content img,
.hero-about .content img {
  max-width: 400px;
  box-shadow: 1rem 1rem 5rem rgba(1, 1, 3, 0.5);
  object-fit: cover;
  border-radius: 20px;
}

.hero .content .title,
.hero-about .content .title{
  width: 600px;
  text-shadow: 1rem 1rem 10rem rgba(1, 1, 3, 1);
}

.hero .content .subtitle,
.hero-about .content .subtitle {
  width: 600px;
  font-size: 25px;
  font-weight: 100;
  text-shadow: 1rem 1rem 10rem rgba(1, 1, 3, 1);
}

.hero .content .container,
.hero-about .content .container {
  column-gap: 100px;
}

.hero .content .pesan-btn,
.contoh-produk .pesan-btn {
  background-color: #FF9800;
  width: 100px;
  font-size: 20px;
}

.jam-buka img {
  max-width: 350px;
  box-shadow: 1rem 1rem 3rem rgba(1, 1, 3, 0.5);
  object-fit: contain;
  border-radius: 20px;
}

.jam-buka h1,
.contoh-produk h1,
.contoh-produk span {
  font-weight: bold;
}

.contoh-produk div {
  font-size: 20px;
}

.contoh-produk img {
  max-height: 400px;
  max-width: 400px;
  box-shadow: 1rem 1rem 3rem rgba(1, 1, 3, 0.5);
  object-fit: contain;
  border-radius: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

.about {
  padding: 7rem 7% 10rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.about .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  max-width: 100%;
  gap: 10rem;
}

.about h2 {
  font-size: 2.6rem;
  text-align: center;
  text-shadow: 1rem 1rem 3rem rgba(1, 1, 3, 0.5);
}

.about .content img {
  min-width: 10rem;
  box-shadow: 1rem 1rem 3rem rgba(1, 1, 3, 0.5);
  border-radius: 10px;
}

.about .content div {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  max-width: 400px;
  text-shadow: 1rem 1rem 3rem rgba(1, 1, 3, 0.3);
}
.about .content div {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 400px;
  text-shadow: 1rem 1rem 3rem rgba(1, 1, 3, 0.3);
}

.about .content div span {
  font-weight: bold;
}